.nav {
    grid-area: n;
    background-color: #2C3E50;
    text-align: center;
    padding-top: 20px;
}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a.activeLink {
    color: goldenrod;
}